<body>
    <!-- start Fixed navbar -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 hidden-xs col-md-offset-2">
                        <div class="wrapper">
                            <div class="typing-demo">
                                Bonjour, moi c'est Thomas TEGNY.
                            </div>
                        </div>
                    </div>
                    <!-- end column wrapping -->
                </div>
                <!-- end row header -->
            </div>
            <!-- end container header -->
        </div>
        <!-- end intro body -->
    </header>
    <!-- end intro header -->
    <div id="mouse-here"></div>
    <!-- only for mouse to fall before the start of the section -->
    <!-- start about me -->
    <section id="about-me">
        <div class="container">
            <div class="row">
                <h2>à propos de moi</h2>
                <div class="col-lg-6 col-xs-12 about-intro">
                    <div class="about-inner col-xs-12">
                        <div class="about-ct">
                            <img src="https://zupimages.net/up/22/38/r2ry.jpeg" alt="TEGNY Thomas"
                                class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-intro-text">
                    <p>Je suis comme vous allez le voir un véritable couteau suisse, mais je suis surtout un homme de 34
                        ans disposant du permis B. Depuis début 2022, j'ai le bonheur de vivre près de Thionville, à
                        Neufchef précisément. Oui, depuis mon adolescence en Bretagne, j'ai traversé la France d'Ouest
                        en Est. Tout cela m'a permis d'apprendre dans différents secteurs, de rencontrer énormément de
                        personnes qui m'ont apporté ce que je souhaite mettre à votre disposition. J'aime me lancer de
                        nouveaux défis professionnels qui me feront grandir à vos côtés. Je vous propose de connaître
                        mon cursus ici.


                        <i class="fa-sharp fa-solid fa-arrow-right"></i> <a routerLink="/school"><i
                                class="fa-solid fa-circle-info"></i></a>
                    </p>
                    <div class="button-group">
                    </div>
                </div>
            </div>
            <!-- end row about -->
        </div>
        <!-- end container about -->
        <!-- start count stats -->
    </section>
</body>
<!-- START CONTAINER3 -->
<div class="container3 col-6 mx-auto" id="container3">
    <h2>Mes skills</h2>
    <h3>1. "Hard skills"</h3>
    <ul>
        <div class="grey">
            <li id="html">&nbsp;&nbsp;&nbsp;&nbsp;HTML</li>
        </div>
        <div class="grey">
            <li id="css">&nbsp;&nbsp;&nbsp;&nbsp;CSS</li>
        </div>
        <div class="grey">
            <li id="javascript">&nbsp;&nbsp;&nbsp;&nbsp;Javascript</li>
        </div>
        <div class="grey">
            <li id="python">&nbsp;&nbsp;&nbsp;&nbsp;Python</li>
        </div>
        <div class="grey">
            <li id="java">&nbsp;&nbsp;&nbsp;&nbsp;Java</li>
        </div>
        <div class="grey">
            <li id="php">&nbsp;&nbsp;&nbsp;&nbsp;PHP</li>
        </div>

        <div class="grey">
            <li id="angular">&nbsp;&nbsp;&nbsp;&nbsp;Angular</li>
        </div>
        <div class="grey">
            <li id="intellij">&nbsp;&nbsp;&nbsp;&nbsp;IntelliJ</li>
        </div>
        <div class="grey">
            <li id="bootstrap">&nbsp;&nbsp;&nbsp;&nbsp;Bootstrap</li>
        </div>
        <div class="grey">
            <li id="git">&nbsp;&nbsp;&nbsp;&nbsp;Git et Github</li>
        </div>
        <div class="grey">
            <li id="sql">&nbsp;&nbsp;&nbsp;&nbsp;MySql</li>
        </div>
    </ul>
    <h3>2. "Soft Skills"</h3>
    <ul>
        <div class="grey">
            <li id="curiosity">&nbsp;&nbsp;&nbsp;&nbsp;curiosité</li>
        </div>
        <div class="grey">
            <li id="hour">&nbsp;&nbsp;&nbsp;&nbsp;ponctualité</li>
        </div>
        <div class="grey">
            <li id="techno">&nbsp;&nbsp;&nbsp;&nbsp;veille technologique</li>
        </div>
        <div class="grey">
            <li id="scrum">&nbsp;&nbsp;&nbsp;&nbsp;SCRUM</li>
        </div>
    </ul>
</div>
<!-- END CONTAINER3 -->