.title,
.subtitle {
  color: white;
}

.jumbotron {
  position: relative;
  top: 10%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.cover {
  background-image: url('https://images.pexels.com/photos/1139556/pexels-photo-1139556.jpeg?cs=srgb&dl=architecture-buildings-city-1139556.jpg&fm=jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 46rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
}

.row-card {
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  border-color: white;
}

@media (max-width:766px) {
  header .jumbotron {
    margin: -2% 10% 0 10%;
    width: 90%;
  }

  section .container .col-sm-4 {
    margin: 1%;
  }
}

@media all and (orientation: portrait) {
 .card{
  margin-bottom: 5%;
 }
}