<div class="cover">
    <div class="container jumbotron effect col-sm-6 col-sm-offset-3" style="position:absolute;left:0%;top:15%;">
      <h2 class="title">Contact & CV</h2>
      <h3 class="subtitle">Maintenant qu'on se connait, si on échangeait ?</h3>
      <br />
    </div>
  </div>
<div class="wrapper fadeInDown row">
    <div id="formContent" class="col-xs-12 col-md-2">
        <!-- Tabs Titles -->
        <h2> contactez moi</h2>
        <!-- Login Form -->
        <form action="https://formspree.io/f/xwkzlzgq" method="POST">
            <input type="email" id="login" class="fadeIn second hidden-xs" name="email" placeholder="Cliquez ici pour renseigner votre email" required>
            <input type="email" id="login" class="fadeIn second hidden-lg hidden-xl" name="email" placeholder="Votre email" required>
            <textarea name="message" type="message" id="" cols="30" rows="10" placeholder="Ecrivez ici votre message" required></textarea>
            <input type="submit" class="fadeIn fourth" value="Envoyer">
            <p>Ce formulaire permet de m'envoyer un mail avec votre message, votre adresse mail n'est pas conservée sauf dans l'entête de ce mail.</p>
            <p>Envoi effectué par Formspree.io</p>
        </form>
    </div>

<div class="card col-xs-12 col-md-4" >
    <img src="https://zupimages.net/up/22/38/r5vr.png" class="card-img-top" alt="PLinkedin">
    <div class="card-body">
      <p class="card-text">Si vous désirez revoir mon CV en version originale, je vous invite à visiter mon profil Linkedin pour plus d'informations.</p>
      <a class="link" href="https://www.linkedin.com/in/thomas-tegny/" target="https://www.linkedin.com/in/thomas-tegny/"><div type="button" class="btn btn-secondary d-grid gap-2 col-6 mx-auto"  > Visiter le profil
      </div>
      </a>
    </div>
  </div>
  </div>