body {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
  }
  
  #timeline {
    display: flex;
    background-color: #031625;
  
    &:hover {
      .tl-item {
        width: 23.3333%;
      }
    }
  }
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  
    &:before,
    &:after {
      transform: translate3d(0, 0, 0);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      background: transparentize(#031625, 0.15);
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    &:before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  
    &:hover {
      width: 30% !important;
  
      &:after {
        opacity: 0;
      }
  
      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s;
      }
  
      .tl-content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s;
      }
  
      .tl-bg {
        filter: grayscale(0);
      }
    }
  }
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 20%;
    opacity: 0;
  
    h1 {
      font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      color: #1779cf;
      font-size: 4rem;
      font-weight: normal;
    }
  }
  
  .tl-year {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  
    p {
      font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 1.728rem;
  
    }
  }
  
  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
  
  .jumbotron {
    position: relative;
    top: 10%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  
  .cover {
    background-image: url('https://zupimages.net/up/22/38/0h2t.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 46rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  $white : #ffffff;
  
  $sd_grey : #4a4a4a;
  $sd_grey-light: #f7f7f7;
  
  // <MEDIA RESPONSIVE>
  $extra_small: 425px; // Small devices (landscape phones, 576px and up)
  $small: 576px; // Small devices (landscape phones, 576px and up)
  $medium: 768px; // Medium devices (tablets, 768px and up)
  $large: 992px; // Large devices (desktops, 992px and up)
  $extra_large: 1200px; // Extra large devices (large desktops, 1200px and up)
  // </MEDIA RESPONSIVE>
  
  @mixin box-arrow($arrowDirection, $arrowColor, $arrowSize: 10px) {
    position: relative;
    z-index: 10;
  
    &::after {
      content: '';
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      z-index: 10;
      border: 0;
  
      @if $arrowDirection=="bottom" or $arrowDirection=="top" {
        border-left: $arrowSize solid transparent;
        border-right: $arrowSize solid transparent;
        margin-left: -$arrowSize;
        left: 50%;
  
        @if $arrowDirection=="bottom" {
          border-top: $arrowSize solid $arrowColor;
          bottom: -$arrowSize;
        }
  
        @if $arrowDirection=="top" {
          border-bottom: $arrowSize solid $arrowColor;
          top: -$arrowSize;
        }
      }
  
      @if $arrowDirection=="left" or $arrowDirection=="right" {
        border-top: $arrowSize solid transparent;
        border-bottom: $arrowSize solid transparent;
        margin-top: -$arrowSize;
        top: 50%;
  
        @if $arrowDirection=="left" {
          border-right: $arrowSize solid $arrowColor;
          left: -$arrowSize;
        }
  
        @if $arrowDirection=="right" {
          border-left: $arrowSize solid $arrowColor;
          left: auto;
          right: -$arrowSize;
        }
      }
    }
  }
  
  .grey_light-block {
    background-color: $sd_grey-light;
  }
  
  .timeline {
    position: relative;
    background-image: linear-gradient(to bottom, #930054, #983279, #97519b, #926db8, #8b87d0, #7096df, #4ca4e9, #00b1ec, #00b6db, #00b7b2, #00b376, #2aab29);
  
    width: 50px;
    text-align: center;
  
    @media screen and (max-width: $medium) {
      margin: 0 0 0 20px;
    }
  
    @media screen and (min-width: $medium) {
      margin: 0 auto;
    }
  
    & .point {
      & .year {
        padding-top: 10px;
        color: $white;
      }
  
      .bocata {
        position: relative;
        background-color: $white;
        padding: 20px;
  
        @media screen and (max-width: $extra_small) {
          width: 180px;
  
          &.little {
            width: 180px;
          }
        }
  
        @media screen and (min-width: $extra_small) and (max-width: $small) {
          width: 250px;
  
          &.little {
            width: 250px;
          }
        }
  
        @media screen and (min-width: $small) {
          width: 400px;
  
          &.little {
            width: 250px;
          }
        }
  
        transition: all .3s;
      }
  
      .bocata+.bocata {
        margin-top: 35px;
      }
  
      &:nth-child(odd) .bocata {
        box-shadow: -6px 10px 20px -20px $sd_grey;
  
        left: 100px;
  
        @include box-arrow("left", $white);
      }
  
      &:nth-child(even) .bocata {
        box-shadow: 6px 10px 20px -20px $sd_grey;
  
        @media screen and (max-width: $medium) {
          left: 100px;
  
          @include box-arrow("left", $white);
        }
  
        @media screen and (min-width: $medium) {
          right: 425px;
  
          &.little {
            @media screen and (min-width: $medium) {
              right: 275px;
            }
          }
  
          @include box-arrow("right", $white);
        }
      }
  
      & .arrow {
        border: solid $sd_grey-light;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 20px;
  
        transform: rotate(45deg);
      }
  
      &:first-child .arrow,
      &:last-child .arrow {
        border: solid $sd_grey-light;
        border-width: 0 12px 12px 0;
        display: inline-block;
        padding: 20px;
  
        transform: rotate(45deg);
      }
  
      .arrow-clean {
        border: solid $sd_grey-light;
        border-width: 0 20px 20px 0;
        display: inline-block;
        padding: 20px;
  
        position: absolute;
        left: -5px;
        bottom: -13px;
  
        transform: rotate(45deg);
      }
    }
  
    transition: all .3s;
  
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.28px;
  }