<div class="cover">
    <div class="container jumbotron col-sm-6 col-sm-offset-3" style="position:absolute;left:0%;top:15%;">
      <h2 class="title1">Mes expériences professionnelles</h2>
      <h3 class="subtitle">Découvrez mon parcours dans le monde du travail.</h3>
      <br />
    </div>
  </div>
  
  <section id="timeline" class="hidden-xs">
  
    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://zupimages.net/up/22/38/874z.jpg)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2009-2018</p>
      </div>
  
      <div class="tl-content">
        <h1>Norauto, Vierzon (18)</h1>
        <h3 class="f3 text--accent ttu">Chef d'Atelier</h3>
        <h3 class="f3 text--accent ttu">Responsble Magasin</h3>
        <p>Suite à l'obtention de mon diplôme universitaire, j'ai tout d'abord commencé en tant que Vendeur, en 2012
          j'intègre l'équipe atelier en tant que Chef d'Atelier d'une équipe de 6 personnes. En 2017 je reviens en
          magasin au poste de Responsable Magasin.
          J'ai donc pu développer mes compétences de relation client, du suivi d'activité commerciale, de management et de
          mécanicien multi-marques.
        </p>
      </div>
  
    </div>
  
    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://zupimages.net/up/22/38/4sn4.jpg)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2019</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">WILL, Chârtres (28)</h1>
        <h3 class="f3 text--accent ttu">Développeur fullstack</h3>
        <p>Après ma formation de développeur Web et Web mobile, on me confie la création de la V2 du site Internet vitrine
          et de l'application WILL. Cette entreprise permettait à des entreprises de disposer de techniciens itinérants
          pour l'entretien léger de leur flotte de véhicules sur l'agglomération de Bordeaux.
          Le cahier des charges comprenait le passage complet sur le framewoks VueJS et l'intégration de micro-services
          Amazon grâce à AWS. Cela me permet de mettre en oeuvre mon apprentissage sur la méthodologie SCRUM, le
          développement Web, de la création d'un product backlog à la mise en production du site Internet et de
          l'application.</p>
      </div>
  
    </div>
  
    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://zupimages.net/up/22/38/wcjv.jpg)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2020</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Depussay, Chârtres (28)</h1>
        <h3 class="f3 text--accent ttu">Magasinier</h3>
        <p>Je débute dans cette concession agricole comme préparateur machine, mon rôle est de permettre aux clients de
          récupérer des machines agricoles en état de marche et équipées de toutes les options demandées.
          Après ce temps de formation, j'intègre l'équipe magasin de la succursale de St-Amand-Longpré (41) en tant que
          magasinier.
          Le monde agricole étant encore nouveau pour moi, mon quotidien est empli d'apprentissages du jargon
          professionnel et des pièces disponibles, ce qui me permet de servir au mieux les clients.
        </p>
      </div>
  
    </div>
  
    <div class="tl-item">
  
      <div class="tl-bg" style="background-image: url(https://zupimages.net/up/22/38/957d.jpg)"></div>
  
      <div class="tl-year">
        <p class="f2 heading--sanSerif">2022</p>
      </div>
  
      <div class="tl-content">
        <h1 class="f3 text--accent ttu">Cometz, Metz (57)</h1>
        <h3 class="f3 text--accent ttu">Téléconseiller</h3>
        <p>Lors de mon arrivée sur la région Grand Est je suis amené à travailler pour l'entreprise spécialisée dans la
          relation client en tant que téléconseiller pour les services d'EDF.
          Mes missions sont de répondre aux client par téléphone sur tout ce qui peux concerner leurs contrats, leurs
          consommations et de planifier des interventions pour le compte d'ENEDIS.
          Ces missions m'amènent à être prècis dans mes explications tout en les vulgarisant pour être le plus
          compréhensible possible mais aussi d'apprendre rapidement la technicité des différents métiers et équipements
          présents.
        </p>
      </div>
    </div>
  </section>
  
  <!--timeline for smartphone--> 
  <div class="jumbotron-fluid grey_light-block pt-5 hidden-sm hidden-lg hidden-xl" style="padding-bottom: 3%;">
    <div class="container">
      <div class="timeline body white">
  
        <div class="point"> </div>
  
        <div class="point">
          <div class="year"> 2009 - 2018 </div>
          <div class="bocata body text-left row">
            <div class="col-md-12 title small bold pb-2">Norauto Vierzon (18), Vendeur, Chef d'Atelier, Responsable Magasin</div>
            <div class="col-md-6 body small">Suite à l'obtention de mon diplôme universitaire, j'ai tout d'abord commencé en tant que Vendeur, en 2012
              j'intègre l'équipe atelier en tant que Chef d'Atelier d'une équipe de 6 personnes. En 2017 je reviens en
              magasin au poste de Responsable Magasin.
              J'ai donc pu développer mes compétences de relation client, du suivi d'activité commerciale, de management et de
              mécanicien multi-marques.</div>
          </div>
          <i class="arrow"></i>
        </div>
        <div class="point">
          <div class="year"> 2019 </div>
          <div class="bocata body text-left row">
            <div class="col-md-6 title small bold pb-2">WILL, Chârtres, Développeur Web</div>
            <div class="col-md-6 pr-0  body small">Après ma formation de développeur Web et Web mobile, on me confie la création de la V2 du site Internet vitrine
              et de l'application WILL. Cette entreprise permettait à des entreprises de disposer de techniciens itinérants
              pour l'entretien léger de leur flotte de véhicules sur l'agglomération de Bordeaux.
              Le cahier des charges comprenait le passage complet sur le framewoks VueJS et l'intégration de micro-services
              Amazon grâce à AWS. Cela me permet de mettre en oeuvre mon apprentissage sur la méthodologie SCRUM, le
              développement Web, de la création d'un product backlog à la mise en production du site Internet et de
              l'application.</div>
          </div>
          <i class="arrow"></i>
        </div>
  
        <div class="point">
          <div class="year"> 2020 </div>
          <div class="bocata body text-left row">
            <div class="col-md-6 title small bold pb-2">Depussay, St Amand Longpré (41), Préparateur, MAgasinier</div>
            <div class="col-md-6 pr-0  body small">Je débute dans cette concession agricole comme préparateur machine, mon rôle est de permettre aux clients de
              récupérer des machines agricoles en état de marche et équipées de toutes les options demandées.
              Après ce temps de formation, j'intègre l'équipe magasin de la succursale de St-Amand-Longpré (41) en tant que
              magasinier.
              Le monde agricole étant encore nouveau pour moi, mon quotidien est empli d'apprentissages du jargon
              professionnel et des pièces disponibles, ce qui me permet de servir au mieux les clients.</div>
          </div>
          <i class="arrow"></i>
        </div>
  
        <div class="point">
          <div class="year"> 2022 </div>
          <div class="bocata body text-left row">
            <div class="col-md-6 title small bold pb-2">Cometz, Metz (57), téléconseiller</div>
            <div class="col-md-6 pr-0  body small">Lors de mon arrivée sur la région Grand Est je suis amené à travailler pour l'entreprise spécialisée dans la
              relation cliente en tant que téléconseiller pour les services d'EDF.
              Mes missions sont de répondre aux client par téléphone sur tout ce qui peux concerner leurs contrats, leurs
              consommations et de planifier des interventions pour le compte d'ENEDIS.
              Ces missions m'amènent à être prècis dans mes explications tout en les vulgarisant pour être le plus
              compréhensible possible mais aussi d'apprendre rapidement la technicité des différents métiers et équipements
              présents.</div>
          </div>
          <i class="arrow"></i>
        </div>
      
      </div>
    </div>
  </div>