<div class="cover">
    <div class="container jumbotron effect col-sm-6 col-sm-offset-3" style="position:absolute;left:0%;top:15%;">
      <h2 class="title">Mon parcours scolaire</h2>
      <h3 class="subtitle">Ici vous apprendrez mon cursus depuis le lycée.</h3>
      <br />
    </div>
  </div>
  <!--start for carousel-->
  <div style="margin-top:5%;" id="carouselExampleDark"
    class="carousel carousel slide col-8 mx-auto hidden-xs" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4500">
        <img src="https://zupimages.net/up/22/38/1zl3.jpg" style="width: 100%;" class="d-block" alt="college">
        <div class="carousel-caption">
          <h1 class="date jumbotron">2009</h1>
          <p class="caption jumbotron">Obtention de mon Baccalauréat Mercatique au Lycée Notre-dame-d'Espérance de St
            Nazaire (44)</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4500">
        <img src="https://zupimages.net/up/22/38/gy24.jpg" class="d-block w-100" alt="univesity">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="date jumbotron">2007-2009</h1>
          <p class="caption jumbotron">Obtention de mon Diplôme Universitaire Technologique "Techniques de Commercialisation", à
            l'IUT de Nantes/St Nazaire (44).</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4500">
        <img src="https://zupimages.net/up/22/38/h5mx.jpg" class="d-block w-100" alt="Web">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="date jumbotron">2018-2019</h1>
          <p class="caption jumbotron">Obtention de mon diplôme de Développeur Web et Web mobile à la Wild Code School de
            la Loupe (28)</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--timeline for spartphone-->
  
  <div>
        <article>
            <div class="text">
             <h1 class="titletimeline">2007<br>BAC STG Mercatique</h1>
             <p class="texttimeline">Lycée Notre Dame d'Espérance de St Nazaire (44)</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/1zl3.jpg')"></div>
        </article>
                
        <article>
            <div class="text">
             <h1 class="titletimeline">2007-2009<br>DUT Techniques de Commercialisation</h1>
             <p class="texttimeline">IUT de Nantes / St Nazaire</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/gy24.jpg')"></div>
        </article>
                
        <article>
            <div class="text">
             <h1 class="titletimeline">2019<br>Diplôme de développeur Web et Web mobile</h1>
             <p class="texttimeline">Wild Code School de la La Loupe (28)</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/h5mx.jpg')"></div>
        </article>      
        <article>
        </article>
  </div>
  