<div class="cover">
    <div class="container jumbotron effect col-sm-6 col-sm-offset-3" style="position:absolute;left:0%;top:15%;">
      <h2 class="title">Mon parcours scolaire</h2>
      <h3 class="subtitle">Ici vous apprendrez mon cursus depuis le lycée.</h3>
      <br />
    </div>
  </div>
 <div class="row mx-auto hidden-xs">
 <div class="card text-bg-dark col-5 mx-auto">
    <img src="https://zupimages.net/up/22/38/1zl3.jpg" class="card-img" alt="school">
    <div class="card-img-overlay">
      <h1 class="card-title jumbotron mx-auto">2007</h1>
      <p class="card-text jumbotron mx-auto">Obtention de mon Baccalauréat Mercatique au Lycée Notre-dame-d'Espérance de St
        Nazaire (44).</p>
    </div>
  </div>
  <div class="card text-bg-dark col-5 mx-auto">
    <img src="https://zupimages.net/up/22/38/gy24.jpg" class="card-img" alt="university">
    <div class="card-img-overlay">
      <h1 class="card-title jumbotron mx-auto">2007 - 2009</h1>
      <p class="card-text jumbotron mx-auto">Obtention de mon Diplôme Universitaire Technologique "Techniques de Commercialisation", à
        l'IUT de Nantes/St Nazaire (44).</p>
    </div>
  </div>
  <div class="card text-bg-dark col-5 mx-auto">
    <img src="https://zupimages.net/up/22/38/h5mx.jpg" class="card-img" alt="developer">
    <div class="card-img-overlay">
      <h1 class="card-title jumbotron mx-auto">2018 - 2019</h1>
      <p class="card-text jumbotron mx-auto">Obtention de mon diplôme de Développeur Web et Web mobile à la Wild Code School de
        la Loupe (28).</p>
    </div>
  </div>
  </div>
  <!--timeline for spartphone-->
  
  <div class="hidden-sm hidden-lg hidden-xl">
        <article >
            <div class="text">
             <h1 class="titletimeline">2007<br>BAC STG Mercatique</h1>
             <p class="texttimeline">Lycée Notre Dame d'Espérance de St Nazaire (44)</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/1zl3.jpg')"></div>
        </article>
                
        <article>
            <div class="text">
             <h1 class="titletimeline">2007-2009<br>DUT Techniques de Commercialisation</h1>
             <p class="texttimeline">IUT de Nantes / St Nazaire</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/gy24.jpg')"></div>
        </article>
                
        <article>
            <div class="text">
             <h1 class="titletimeline">2019<br>Diplôme de développeur Web et Web mobile</h1>
             <p class="texttimeline">Wild Code School de la La Loupe (28)</p>
            </div>
            <div class="image" style="background-image: url('https://zupimages.net/up/22/38/h5mx.jpg')"></div>
        </article>      
        <article>
        </article>
  </div>
  